
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */